**/target/
**/build/
**/bin/
**/out/

.idea/
*.swp
*.log
.git
.gitignore
out_plot2/
venv/

captures/

*.env
!docker/variables/docker_compose_variables_auth.env
!docker/variables/docker_compose_variables_capture.env
!docker/variables/docker_compose_variables_plotter.env
!docker/variables/docker_compose_variables_db.env